@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	--background-color: #000;
	--text-color: #fff;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: "Space Grotesk", sans-serif;
}

.jetbrains-mono {
	font-family: "JetBrains Mono", monospace;
}

.brand {
	background: linear-gradient(
			90deg,
			#fbe7c2,
			#bcabe5,
			#749edf,
			#94d7d9,
			#fbe7c2 50%,
			#ffffff00 75%,
			#ffffff00 100%
		)
		150% center / 200% 100% no-repeat;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	animation: brand-gradient 5s forwards ease-in-out;
}

@keyframes brand-gradient {
	to {
		background-position-x: 0;
	}
}

.Typewriter__cursor {
    animation: Typewriter-cursor 1s 15 forwards !important;
}
